@()

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>tree-tag</title>
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

  <div id="app-main">
    <navbar :inverted="false"></navbar>
    <router-view>loading...</router-view>
  </div>

<script type="text/javascript" src="/assets/js/main.js"></script></body>

</html>
